@use "../../sass/variables" as *;

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $p-white;
    margin-top: 20px;
    font-family: $p-Poppins;
};

.organizationP {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-family: $p-Poppins;
    font-size: 20px;
    font-weight: 400;
    color: $p-white;
};

.p2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-family: $p-Poppins;
    font-size: 20px;
    font-weight: 400;
    color: $p-white;
};


